:root {
    --freewin-orange: #FFA500;
    --freewin-white: white;
}

.box {
    margin: auto; /* Centers the box horizontally */
    margin-top: 50px; /* Adds some vertical space between the box and the top of the screen */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

.field-required {
    color:red;
}

.login-background {
    background-image: url(../images/fond.png);
        
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag {
    padding:30px;
    text-align: center;
    color: var(--freewin-orange);
}

.btn.btn-tag.active {
    background-color: var(--freewin-orange);
    color: var(--freewin-white);
}

.btn.btn-tag {
    background-color: var(--freewin-white);
    color: var(--freewin-orange);
    padding:10px;
    margin:65px;
    border-radius: 100px;
    min-width: 180px;
    min-height: 20px;
    border-color: var(--freewin-orange);
    text-align: center;
}

.btn.button {
    background-color: var(--freewin-orange);
    color: var(--freewin-white);
    border-width: 2px;
    margin: auto;
}

.btn.button.play {
    font-size: 20px;
    min-width: 130px;
    min-height: 50px;
    border-width: 0px;
    border-radius: 100px;
}

@media screen and (max-width: 600px) {
    .btn.button.play {
      font-size: 12px;
      min-width: 70px;
      min-height: 30px;
      border-width: 0px;
      border-radius: 100px;
    }
}

.center {
    text-align: center;
}


.text-time {
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .text-time {
      font-size: 12px;
    }
  }

.alerte-victoire {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(2px); /* Ajoute le flou à l'arrière-plan */
}
  
.alerte-contenu {
    background-color: white;
    border: 1px solid var(--freewin-orange);
    outline: 2px solid var(--freewin-orange);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative; /* Ajouter cette ligne pour définir une position relative */
}
  
.bandeau {
    position: absolute; /* Ajouter cette ligne pour définir une position absolue par rapport à .alerte-contenu */
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Remplacez 50px par la taille souhaitée pour votre bandeau */
    background-color: #21721e; /* Remplacez #f1f1f1 par la couleur souhaitée pour votre bandeau */
    border-radius: 10px 10px 0 0; /* Remplacez les valeurs si nécessaire */
}
  
  
.alerte-victoire h2 {
    margin-top: 0;
    text-align: center;
}
  
.alerte-victoire p {
    margin-bottom: 20px;
    text-align: center;
}

label svg{
    margin-top: 7px;
}