body{
    background-image: url("../images/fond.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.head{
    text-align: center;
    font-family: cursive;
    font-size: x-large;
}

.canvas{
    text-align: center;
}

table{
	border : 2px solid rgba(255, 255, 255, 0.349);
    background-color: rgba(255, 255, 255, 0.56);
}

th, tr, td {
    text-align: center;
}


